<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>File Sharing Application</title>
    <link rel="icon" type="image/png" href="images/file-sharing.png">
    <link th:href="@{/styles/css/login.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <!-- Login Box -->
        <div class="box">
            <h1>Login</h1>
            <form th:action="@{/files/login}" method="post">
                <div>
                    <label>Email:</label>
                    <input type="email" name="email"/>
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" name="password"/>
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
            <div>
                <button onclick="window.location.href='/files/register'">Register</button>
            </div>
        </div>
    </div>
</body>
</html>
